USE [master]
GO
/****** Object:  Database [NHOM3_QLNS]    Script Date: 6/14/2020 7:39:22 AM ******/
CREATE DATABASE [NHOM3_QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHOM3_QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NHOM3_QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHOM3_QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NHOM3_QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHOM3_QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHOM3_QLNS]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MACV] [varchar](10) NOT NULL,
	[TEN_CV] [nvarchar](50) NULL,
	[PHU_CAP] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAN_TOC]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAN_TOC](
	[MADT] [smallint] IDENTITY(1,1) NOT NULL,
	[TEN_DT] [nvarchar](30) NULL,
	[PHU_CAP] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HO_SO]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HO_SO](
	[MAHS] [varchar](10) NOT NULL,
	[HO] [nvarchar](30) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[GIOI_TINH] [bit] NULL,
	[NGAY_SINH] [datetime] NULL,
	[NOI_SINH] [nvarchar](30) NULL,
	[HO_KHAU] [nvarchar](200) NULL,
	[DC_LIEN_HE] [nvarchar](200) NULL,
	[CMND] [varchar](12) NULL,
	[DANTOC] [smallint] NULL,
	[TONGIAO] [smallint] NULL,
	[SO_DT] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGOAI_NGU] [nvarchar](50) NULL,
	[TRINH_DO_HV] [tinyint] NULL,
	[GHI_CHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOC_VAN]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOC_VAN](
	[MAHV] [tinyint] IDENTITY(1,1) NOT NULL,
	[TENHV] [nvarchar](30) NULL,
	[CHUYEN_NGANH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[BACLUONG] [smallint] IDENTITY(1,1) NOT NULL,
	[LUONG_CO_BAN] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[BACLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [varchar](10) NOT NULL,
	[MAHS] [varchar](10) NULL,
	[NGAY_VAO_LAM] [datetime] NULL,
	[TINH_TRANG] [tinyint] NULL,
	[MAT_KHAU] [varchar](50) NULL,
	[LOAI_NV] [tinyint] NULL,
	[LA_ADMIN] [bit] NULL,
	[PHONG] [varchar](10) NULL,
	[CHUCVU] [varchar](10) NULL,
	[BAC_LUONG] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_BAN]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_BAN](
	[MAPB] [varchar](10) NOT NULL,
	[TEN_PB] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_HE_GIA_DINH]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_HE_GIA_DINH](
	[MAQHGD] [int] IDENTITY(1,1) NOT NULL,
	[MAHS] [varchar](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[QUAN_HE] [nvarchar](10) NULL,
	[NAM_SINH] [varchar](4) NULL,
	[NGHE_NGHIEP] [nvarchar](50) NULL,
	[GIOI_TINH] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQHGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SO_CMND]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_CMND](
	[CMND] [varchar](12) NOT NULL,
	[NGAY_CAP] [datetime] NULL,
	[NOI_CAP] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TON_GIAO]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TON_GIAO](
	[MATG] [smallint] IDENTITY(1,1) NOT NULL,
	[TEN_TG] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUC_VU] ([MACV], [TEN_CV], [PHU_CAP]) VALUES (N'GD', N'Giám đốc', CAST(300000 AS Decimal(10, 0)))
INSERT [dbo].[CHUC_VU] ([MACV], [TEN_CV], [PHU_CAP]) VALUES (N'KT', N'Kế toán', CAST(0 AS Decimal(10, 0)))
INSERT [dbo].[CHUC_VU] ([MACV], [TEN_CV], [PHU_CAP]) VALUES (N'NV', N'Nhân Viên', CAST(0 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[DAN_TOC] ON 

INSERT [dbo].[DAN_TOC] ([MADT], [TEN_DT], [PHU_CAP]) VALUES (1, N'Kinh', CAST(0 AS Decimal(10, 0)))
INSERT [dbo].[DAN_TOC] ([MADT], [TEN_DT], [PHU_CAP]) VALUES (2, N'Mường', CAST(0 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[DAN_TOC] OFF
INSERT [dbo].[HO_SO] ([MAHS], [HO], [TEN], [GIOI_TINH], [NGAY_SINH], [NOI_SINH], [HO_KHAU], [DC_LIEN_HE], [CMND], [DANTOC], [TONGIAO], [SO_DT], [EMAIL], [NGOAI_NGU], [TRINH_DO_HV], [GHI_CHU]) VALUES (N'HS00001', N'Do Kyung', N'Soo', 1, CAST(N'1993-01-12T00:00:00.000' AS DateTime), N'Kyung Ki', N'Kyung Ki', N'SMtown', N'272483863', 1, 1, N'0168 653 9737', N'thoa.tranvan@uni.dntu.edu.vn', N'Tiếng Anh', 1, N'')
INSERT [dbo].[HO_SO] ([MAHS], [HO], [TEN], [GIOI_TINH], [NGAY_SINH], [NOI_SINH], [HO_KHAU], [DC_LIEN_HE], [CMND], [DANTOC], [TONGIAO], [SO_DT], [EMAIL], [NGOAI_NGU], [TRINH_DO_HV], [GHI_CHU]) VALUES (N'HS00002', N'Buyn Baek ', N'Hyun', 1, CAST(N'1992-08-05T00:00:00.000' AS DateTime), N'Nam San', N'Nam San', N'SM', N'', 1, 1, N'0964 443 332', N'quan.huynhhoang@uni.dntu.edu.vn', N'Tiếng Anh', 1, N'')
INSERT [dbo].[HO_SO] ([MAHS], [HO], [TEN], [GIOI_TINH], [NGAY_SINH], [NOI_SINH], [HO_KHAU], [DC_LIEN_HE], [CMND], [DANTOC], [TONGIAO], [SO_DT], [EMAIL], [NGOAI_NGU], [TRINH_DO_HV], [GHI_CHU]) VALUES (N'HS00003', N'Trần Thị ', N'Thu', 1, CAST(N'1999-09-08T00:00:00.000' AS DateTime), N'Hải Dương', N'Hải Dương', N'CNTT16A', N'123456789', 1, 1, N'0973 344 332', N'tranthuhd08@gmail.com', N'Tiếng Anh', 1, NULL)
SET IDENTITY_INSERT [dbo].[HOC_VAN] ON 

INSERT [dbo].[HOC_VAN] ([MAHV], [TENHV], [CHUYEN_NGANH]) VALUES (1, N'Đại Học', N'CNTT')
INSERT [dbo].[HOC_VAN] ([MAHV], [TENHV], [CHUYEN_NGANH]) VALUES (2, N'Cao Đẳng', N'CNTT')
SET IDENTITY_INSERT [dbo].[HOC_VAN] OFF
SET IDENTITY_INSERT [dbo].[LUONG] ON 

INSERT [dbo].[LUONG] ([BACLUONG], [LUONG_CO_BAN]) VALUES (1, CAST(3000000 AS Decimal(10, 0)))
INSERT [dbo].[LUONG] ([BACLUONG], [LUONG_CO_BAN]) VALUES (2, CAST(4000000 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[LUONG] OFF
INSERT [dbo].[NHAN_VIEN] ([MANV], [MAHS], [NGAY_VAO_LAM], [TINH_TRANG], [MAT_KHAU], [LOAI_NV], [LA_ADMIN], [PHONG], [CHUCVU], [BAC_LUONG]) VALUES (N'NV01', N'HS00001', CAST(N'2015-10-01T00:00:00.000' AS DateTime), 1, N'120193', 1, 1, N'IT', N'TPIT', 1)
INSERT [dbo].[NHAN_VIEN] ([MANV], [MAHS], [NGAY_VAO_LAM], [TINH_TRANG], [MAT_KHAU], [LOAI_NV], [LA_ADMIN], [PHONG], [CHUCVU], [BAC_LUONG]) VALUES (N'NV02', N'HS00002', CAST(N'2015-10-01T00:00:00.000' AS DateTime), 1, N'123456', 1, 1, N'IT', N'QLPM', 1)
INSERT [dbo].[NHAN_VIEN] ([MANV], [MAHS], [NGAY_VAO_LAM], [TINH_TRANG], [MAT_KHAU], [LOAI_NV], [LA_ADMIN], [PHONG], [CHUCVU], [BAC_LUONG]) VALUES (N'NV03', N'HS00003', CAST(N'2015-10-02T00:00:00.000' AS DateTime), 1, N'123456', 1, 0, N'IT', N'NV', 1)
INSERT [dbo].[PHONG_BAN] ([MAPB], [TEN_PB]) VALUES (N'GD', N'Giá đốc')
INSERT [dbo].[PHONG_BAN] ([MAPB], [TEN_PB]) VALUES (N'IT', N'IT')
INSERT [dbo].[PHONG_BAN] ([MAPB], [TEN_PB]) VALUES (N'TC', N'Tài Chính')
SET IDENTITY_INSERT [dbo].[QUAN_HE_GIA_DINH] ON 

INSERT [dbo].[QUAN_HE_GIA_DINH] ([MAQHGD], [MAHS], [HOTEN], [QUAN_HE], [NAM_SINH], [NGHE_NGHIEP], [GIOI_TINH]) VALUES (1, N'HS00002', N'Văn A', N'Cha', N'1964', N'', 1)
SET IDENTITY_INSERT [dbo].[QUAN_HE_GIA_DINH] OFF
INSERT [dbo].[SO_CMND] ([CMND], [NGAY_CAP], [NOI_CAP]) VALUES (N'', CAST(N'2011-09-21T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[SO_CMND] ([CMND], [NGAY_CAP], [NOI_CAP]) VALUES (N'123444444', CAST(N'2018-06-06T00:00:00.000' AS DateTime), N'Quảng Ninh')
INSERT [dbo].[SO_CMND] ([CMND], [NGAY_CAP], [NOI_CAP]) VALUES (N'123455555', CAST(N'2017-08-08T00:00:00.000' AS DateTime), N'Hà Nam')
SET IDENTITY_INSERT [dbo].[TON_GIAO] ON 

INSERT [dbo].[TON_GIAO] ([MATG], [TEN_TG]) VALUES (1, N'Phật Giáo')
INSERT [dbo].[TON_GIAO] ([MATG], [TEN_TG]) VALUES (2, N'Thiên Chúa')
SET IDENTITY_INSERT [dbo].[TON_GIAO] OFF
ALTER TABLE [dbo].[HO_SO]  WITH CHECK ADD FOREIGN KEY([CMND])
REFERENCES [dbo].[SO_CMND] ([CMND])
GO
ALTER TABLE [dbo].[HO_SO]  WITH CHECK ADD FOREIGN KEY([DANTOC])
REFERENCES [dbo].[DAN_TOC] ([MADT])
GO
ALTER TABLE [dbo].[HO_SO]  WITH CHECK ADD FOREIGN KEY([TONGIAO])
REFERENCES [dbo].[TON_GIAO] ([MATG])
GO
ALTER TABLE [dbo].[HO_SO]  WITH CHECK ADD FOREIGN KEY([TRINH_DO_HV])
REFERENCES [dbo].[HOC_VAN] ([MAHV])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([BAC_LUONG])
REFERENCES [dbo].[LUONG] ([BACLUONG])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([CHUCVU])
REFERENCES [dbo].[CHUC_VU] ([MACV])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HO_SO] ([MAHS])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([PHONG])
REFERENCES [dbo].[PHONG_BAN] ([MAPB])
GO
ALTER TABLE [dbo].[QUAN_HE_GIA_DINH]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HO_SO] ([MAHS])
GO
/****** Object:  StoredProcedure [dbo].[EditCMND]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditCMND](
	@CMNDCU varchar(12),
	@CMND varchar(12),
	@NGAY_CAP datetime,
	@NOI_CAP nvarchar(30),
	@MaHS varchar(10)
)
as
begin
update HO_SO set CMND='' where MAHS=@MaHS
if @CMNDCU<>''
begin
update SO_CMND set CMND=@CMND, NGAY_CAP=@NGAY_CAP,NOI_CAP=@NOI_CAP where CMND=@CMNDCU
end
else
begin
	insert into SO_CMND values(@CMND,@NGAY_CAP,@NOI_CAP)
end
update HO_SO set CMND=@CMND where MAHS=@MaHS

end
GO
/****** Object:  StoredProcedure [dbo].[InsertDanToc]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertDanToc]
(
	@TEN_DT NVARCHAR(30),
	@PHU_CAP DECIMAL(10,0)
)
AS
BEGIN
	
	INSERT INTO DAN_TOC VALUES(@TEN_DT,@PHU_CAP)
	
	SELECT @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[InsertHocVan]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertHocVan](
	@TENHV nvarchar(30),
	@CHUYEN_NGANH nvarchar(100)
)
as
begin
	INSERT INTO HOC_VAN VALUES(@TENHV,@CHUYEN_NGANH)
	
	SELECT @@IDENTITY
end
GO
/****** Object:  StoredProcedure [dbo].[InsertHoSoNV]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertHoSoNV](
	@HO nvarchar(30),
	@TEN nvarchar(10),
	@GIOI_TINH bit,
	@NGAY_SINH datetime,
	@NOI_SINH nvarchar(30),
	@HO_KHAU nvarchar(200),
	@DC_LIEN_HE nvarchar(200),
	@CMND varchar(12),
	@DANTOC smallint,
	@TONGIAO smallint,
	@SO_DT varchar(15),
	@EMAIL varchar(50),
	@NGOAI_NGU nvarchar(50),
	@TRINH_DO_HV tinyint,
	@GHI_CHU nvarchar(100),
	@MANV varchar(10),
	@NGAY_VAO_LAM datetime,
	@TINH_TRANG tinyint,
	@LOAI_NV tinyint,
	@LA_ADMIN bit,
	@PHONG varchar(10),
	@CHUCVU varchar(10),
	@BAC_LUONG smallint
)
as
begin
	declare @MAHS varchar(10)
	set @MAHS=(SELECT MAX(MAHS) FROM HO_SO)
	
	DECLARE @SOHS INT
	SET @SOHS=CAST(SUBSTRING(@MAHS,3,LEN(@MAHS)) AS INT)+1
	
	IF @SOHS<10
	SET @MAHS='HS0000'+CAST(@SOHS AS CHAR(1))
	ELSE
	IF @SOHS<100
	SET @MAHS='HS000'+CAST(@SOHS AS CHAR(2))
	ELSE
	IF @SOHS<1000
	SET @MAHS='HS00'+CAST(@SOHS AS CHAR(3))
	ELSE
	IF @SOHS<10000
	SET @MAHS='HS0'+CAST(@SOHS AS CHAR(4))
	ELSE
	SET @MAHS='HS'+CAST(@SOHS AS VARCHAR(8))
	
	INSERT INTO HO_SO VALUES(@MAHS,@HO,@TEN,@GIOI_TINH,@NGAY_SINH,@NOI_SINH,@HO_KHAU,@DC_LIEN_HE,@CMND,@DANTOC,@TONGIAO,@SO_DT,@EMAIL,@NGOAI_NGU,@TRINH_DO_HV,@GHI_CHU)
	
	INSERT INTO NHAN_VIEN VALUES(@MANV,@MAHS,@NGAY_VAO_LAM,@TINH_TRANG,'123456',@LOAI_NV,@LA_ADMIN,@PHONG,@CHUCVU,@BAC_LUONG)
	
	SELECT @MAHS
	
end
GO
/****** Object:  StoredProcedure [dbo].[InsertLuong]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertLuong](
	@LUONG_CO_BAN decimal(10,0)
)
as
begin
	INSERT INTO LUONG VALUES(@LUONG_CO_BAN)
	
	SELECT @@IDENTITY
end
GO
/****** Object:  StoredProcedure [dbo].[InsertThanNhan]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertThanNhan](
	@MAHS varchar(10),
	@HOTEN nvarchar(50),
	@QUAN_HE nvarchar(10),
	@NAM_SINH varchar(4),
	@NGHE_NGHIEP nvarchar(50),
	@GIOI_TINH bit
)
as
begin
	INSERT INTO QUAN_HE_GIA_DINH VALUES(@MAHS,@HOTEN,@QUAN_HE,@NAM_SINH,@NGHE_NGHIEP,@GIOI_TINH)
	
	SELECT @@IDENTITY
end
GO
/****** Object:  StoredProcedure [dbo].[InsertTonGiao]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[InsertTonGiao]
(
	@TEN_TG NVARCHAR(30)
)
AS
BEGIN
	
	INSERT INTO TON_GIAO VALUES(@TEN_TG)
	
	SELECT @@IDENTITY
END
GO
/****** Object:  StoredProcedure [dbo].[SpLogin]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpLogin]
(
	@MANV VARCHAR(10),
	@MATKHAU VARCHAR(50)	
)
AS
SELECT NHAN_VIEN.MANV,HO_SO.HO,HO_SO.TEN,NHAN_VIEN.LA_ADMIN FROM NHAN_VIEN
INNER JOIN HO_SO ON NHAN_VIEN.MAHS=HO_SO.MAHS
WHERE NHAN_VIEN.MANV=@MANV AND NHAN_VIEN.MAT_KHAU=@MATKHAU
GO
/****** Object:  StoredProcedure [dbo].[TESTCONNECTION]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TESTCONNECTION]
AS
BEGIN
	declare @result bit
	set @result=0
	IF object_id('NHAN_VIEN') is not null
		if object_id('CHUC_VU') is not null
		if object_id('DAN_TOC') is not null
		if object_id('HO_SO') is not null
		if object_id('LUONG') is not null
		if object_id('HOC_VAN') is not null
		if object_id('PHONG_BAN') is not null
		if object_id('QUAN_HE_GIA_DINH') is not null
		if object_id('SO_CMND') is not null
		if object_id('TON_GIAO') is not null
		set @result=1
	select @result
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateNV]    Script Date: 6/14/2020 7:39:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateNV](
	@HO nvarchar(30),
	@TEN nvarchar(10),
	@GIOI_TINH bit,
	@NGAY_SINH datetime,
	@NOI_SINH nvarchar(30),
	@HO_KHAU nvarchar(200),
	@DC_LIEN_HE nvarchar(200),
	@DANTOC smallint,
	@TONGIAO smallint,
	@SO_DT varchar(15),
	@EMAIL varchar(50),
	@NGOAI_NGU nvarchar(50),
	@TRINH_DO_HV tinyint,
	@GHI_CHU nvarchar(100),
	@MANV varchar(10),
	@NGAY_VAO_LAM datetime,
	@TINH_TRANG tinyint,
	@LOAI_NV tinyint,
	@LA_ADMIN bit,
	@PHONG varchar(10),
	@CHUCVU varchar(10),
	@BAC_LUONG smallint,
	@MAHS varchar(10)
)
as
begin
	
	update HO_SO set HO=@HO,TEN=@TEN,GIOI_TINH=@GIOI_TINH,NGAY_SINH=@NGAY_SINH,NOI_SINH=@NOI_SINH,HO_KHAU=@HO_KHAU,
	DC_LIEN_HE=@DC_LIEN_HE,DANTOC=@DANTOC,TONGIAO=@TONGIAO,SO_DT=@SO_DT,EMAIL=@EMAIL,NGOAI_NGU=@NGOAI_NGU,
	TRINH_DO_HV=@TRINH_DO_HV,GHI_CHU=@GHI_CHU WHERE MAHS=@MAHS
	
	UPDATE NHAN_VIEN SET NGAY_VAO_LAM=@NGAY_VAO_LAM,@TINH_TRANG=@TINH_TRANG,LOAI_NV=@LOAI_NV,LA_ADMIN=@LA_ADMIN,
	PHONG=@PHONG,CHUCVU=@CHUCVU,BAC_LUONG=@BAC_LUONG WHERE MANV=@MANV
end
GO
USE [master]
GO
